<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="images/javascript-logo.png">
  <title>Whoops! Something went wrong</title>

  <style>
    body {
      text-align: center;
    }

    h1 {
      font-size: 18pt;
    }

    img {
      width: 500px;
      ;
    }
  </style>
</head>

<body>
  <img src="images/error-pigeon.png">
  <h1>Whoops! It looks like our carrier pigeons got lost again. Check your internet connection and try again.</h1>
  <button onclick="window.location.href='/';"">Back</button>
</body>

</html>