<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="images/javascript-logo.png">
  <title>cms</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">My Dashboard</a>
  </nav>

  <main>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="jumbotron">
            <p>This is an example CMS dashboard and ecommerce storefront. Use username "admin" and
              password "1234" to log in.
            </p></br>
            <p>Learn more at <a href="https://github.com/koressel/CRUD_CMS">github.com/koressel/crud_cms</a></p>
          </div>
        </div>
        <div class="col-lg-4">
          <form id="login-form">
            <label>Username</label>
            <input type="text" name="username" value="admin">
            <label>Password</label>
            <input type="password" name="password" value="1234">
            <p id="error-message">Invalid username and password. Please try again.</p>
            <button id="login-button" class=" btn btn-primary" type="submit">Login</button>
          </form>
        </div>
      </div>

    </div>

  </main>

  <!-- <div class="container-fluid">
    <div class="row">
      <aside class=" col-xs-4 col-sm-4 col-md-4 col-lg-3 aside">
        <div class="sticky-top">
          <img src="images/horny.png">
          <div id="login-form">
            <label>Username</label>
            <input type="text" name="username" value="admin">
            <label>Password</label>
            <input type="password" name="password" value="1234">
            <button id="login-button" type="submit">Login</button>
            <p id="error-message">Invalid username and or password. Please try again.</p>
          </div>
        </div>

      </aside>
      <main class="col-sm-9 main">
        <div class="tooltip">
          <p>This website is</p>
        </div>
      </main>
    </div>
  </div> -->
  </div>


  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="login.js"></script>
</body>

</html>